* {
  margin: 0;
  padding: 0;
  box-sizing: none; }

body {
  font-family: "Roboto", sans-serif !important; }

h1 {
  font-family: "Roboto", sans-serif !important;
  font-size: 30px;
  display: none; }

h2 {
  font-family: "Roboto", sans-serif !important;
  font-size: 30px;
  text-transform: uppercase; }
  h2 span {
    font-family: "Roboto", sans-serif !important;
    font-size: 30px;
    color: #EE252F; }

p {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  color: #080801; }

header {
  background: #F8DF1F; }

li a:link, li a:visited {
  font-family: "Roboto", sans-serif !important;
  font-size: 18px;
  color: #080801; }
  li a:link span, li a:visited span {
    color: #EE252F; }

button {
  font-family: "Roboto", sans-serif !important;
  font-size: 18px;
  color: #080801;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #F8DF1F; }
  button:focus {
    outline: none; }

.order {
  margin-top: 40px; }

.jumbotron {
  background-image: url("/img/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 300px; }
  .jumbotron__container img {
    max-width: 100%; }

.container-fluid {
  padding: 0px; }

.bg-secondary {
  background-color: #F3F3F3 !important; }

.footer {
  background: #080801; }
  .footer img {
    max-width: 30%; }

@media (max-width: 645px) {
  .footer img {
    max-width: 45%; } }
