@import "abstracts/variables";
@import "abstracts/mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}


body{
    font-family: $primary-font;
}

h1{
    @include big-text;
    display: none;
}

h2{
    @include big-text;
    text-transform: uppercase;
    span{
        @include big-text;
        color: $primary-red;
    }
}

p{
    @include paragraph-text;
}

header{
    background: $primary-yellow;
}

li{
    a{
        &:link,
        &:visited{
        @include small-text;
            span{
                color: $primary-red;
            }
        }
    }
}

button{
    @include small-text;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: $primary-yellow;
    &:focus{
        outline: none;
    }
}

.order{
    margin-top: 40px;
}

.jumbotron{
    background-image: url('/img/banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
    &__container{
        img{
            max-width: 65%;
        }
    }
}

.container-fluid {
    padding: 0px;
}

.bg-secondary{
    background-color: $primary-white !important;
}

.footer{
    background: $primary-black;
    img{
        max-width: 30%;
    }
}

